<!--index.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

<h1> {{ .bullshit }}</h1>
<!--Embed the footer.html template at this location-->
<h2>New Offense</h2>
<form action="/loginForm" method="POST">
    <label>rownum:</label><br>
    <input type="text" name="rownum"><br>

    <label>caseid:</label><br>
    <input type="text" name="caseid"><br>
    
    <label>crno:</label><br>
    <input type="text" name="crno"><br>
    
    <label>offensedescription:</label><br>
    <input type="text" name="offensedescription"><br>
    
    <label>stateoffenseclass:</label><br>
    <input type="text" name="stateoffenseclass"><br>

    <label>indidentdate:</label><br>
    <input type="text" name="incidentdate"><br>
    
    <label>hour:</label><br>
    <input type="text" name="hour"><br>
    
    <label>sca:</label><br>
    <input type="text" name="sca"><br>
    
    <label>precinct:</label><br>
    <input type="text" name="precinct"><br>
    
    <label>council:</label><br>
    <input type="text" name="council"><br>

    <label>neighborhood:</label><br>
    <input type="text" name="precinct"><br>
     
    <label>censustract:</label><br>
    <input type="text" name="censustract"><br>

    <label>location:</label><br>
    <input type="text" name="location"><br>

    <input type="submit">
</form>
{{ template "footer.html" .}}
